In [1]:
import pandas as pd
train=pd.read_csv(r'C:\Users\HP\OneDrive\Desktop\NLP\SMS_train.csv',encoding='ISO-8859-1')
train

     S. No.                                       Message_body     Label
0         1                         Rofl. Its true to its name  Non-Spam
1         2  The guy did some bitching but I acted like i'd...  Non-Spam
2         3  Pity, * was in mood for that. So...any other s...  Non-Spam
3         4               Will ü b going to esplanade fr home?  Non-Spam
4         5  This is the 2nd time we have tried 2 contact u...      Spam
..      ...                                                ...       ...
952     953  hows my favourite person today? r u workin har...  Non-Spam
953     954                      How much you got for cleaning  Non-Spam
954     955  Sorry da. I gone mad so many pending works wha...  Non-Spam
955     956                                 Wat time ü finish?  Non-Spam
956     957                    Just glad to be talking to you.  Non-Spam

[957 rows x 3 columns]

In [2]:
test=pd.read_csv(r'C:\Users\HP\OneDrive\Desktop\NLP\SMS_test.csv',encoding='ISO-8859-1')
test

     S. No.                                       Message_body     Label
0         1  UpgrdCentre Orange customer, you may now claim...      Spam
1         2  Loan for any purpose £500 - £75,000. Homeowner...      Spam
2         3  Congrats! Nokia 3650 video camera phone is you...      Spam
3         4  URGENT! Your Mobile number has been awarded wi...      Spam
4         5  Someone has contacted our dating service and e...      Spam
..      ...                                                ...       ...
120     121  7 wonders in My WORLD 7th You 6th Ur style 5th...  Non-Spam
121     122  Try to do something dear. You read something f...  Non-Spam
122     123  Sun ah... Thk mayb can if dun have anythin on....  Non-Spam
123     124  SYMPTOMS when U are in love: "1.U like listeni...  Non-Spam
124     125  Great. Have a safe trip. Dont panic surrender ...  Non-Spam

[125 rows x 3 columns]

In [3]:
df=pd.concat([train,test],axis=0,ignore_index=True)
df

      S. No.                                       Message_body     Label
0          1                         Rofl. Its true to its name  Non-Spam
1          2  The guy did some bitching but I acted like i'd...  Non-Spam
2          3  Pity, * was in mood for that. So...any other s...  Non-Spam
3          4               Will ü b going to esplanade fr home?  Non-Spam
4          5  This is the 2nd time we have tried 2 contact u...      Spam
...      ...                                                ...       ...
1077     121  7 wonders in My WORLD 7th You 6th Ur style 5th...  Non-Spam
1078     122  Try to do something dear. You read something f...  Non-Spam
1079     123  Sun ah... Thk mayb can if dun have anythin on....  Non-Spam
1080     124  SYMPTOMS when U are in love: "1.U like listeni...  Non-Spam
1081     125  Great. Have a safe trip. Dont panic surrender ...  Non-Spam

[1082 rows x 3 columns]

In [4]:
df.drop(['S. No.'],axis=1,inplace=True)
df

                                           Message_body     Label
0                            Rofl. Its true to its name  Non-Spam
1     The guy did some bitching but I acted like i'd...  Non-Spam
2     Pity, * was in mood for that. So...any other s...  Non-Spam
3                  Will ü b going to esplanade fr home?  Non-Spam
4     This is the 2nd time we have tried 2 contact u...      Spam
...                                                 ...       ...
1077  7 wonders in My WORLD 7th You 6th Ur style 5th...  Non-Spam
1078  Try to do something dear. You read something f...  Non-Spam
1079  Sun ah... Thk mayb can if dun have anythin on....  Non-Spam
1080  SYMPTOMS when U are in love: "1.U like listeni...  Non-Spam
1081  Great. Have a safe trip. Dont panic surrender ...  Non-Spam

[1082 rows x 2 columns]

In [5]:
df['Label'].unique()

array(['Non-Spam', 'Spam'], dtype=object)

In [6]:
df['Label']=df['Label'].map({'Spam':1,'Non-Spam':0})
df.head()

                                        Message_body  Label
0                         Rofl. Its true to its name      0
1  The guy did some bitching but I acted like i'd...      0
2  Pity, * was in mood for that. So...any other s...      0
3               Will ü b going to esplanade fr home?      0
4  This is the 2nd time we have tried 2 contact u...      1

In [7]:
msg=df['Message_body']
msg

0                              Rofl. Its true to its name
1       The guy did some bitching but I acted like i'd...
2       Pity, * was in mood for that. So...any other s...
3                    Will ü b going to esplanade fr home?
4       This is the 2nd time we have tried 2 contact u...
                              ...
1077    7 wonders in My WORLD 7th You 6th Ur style 5th...
1078    Try to do something dear. You read something f...
1079    Sun ah... Thk mayb can if dun have anythin on....
1080    SYMPTOMS when U are in love: "1.U like listeni...
1081    Great. Have a safe trip. Dont panic surrender ...
Name: Message_body, Length: 1082, dtype: object

In [8]:
msg=msg.str.replace('[^a-zA-Z0-9]+',' ')
msg

0                              Rofl. Its true to its name
1       The guy did some bitching but I acted like i'd...
2       Pity, * was in mood for that. So...any other s...
3                    Will ü b going to esplanade fr home?
4       This is the 2nd time we have tried 2 contact u...
                              ...
1077    7 wonders in My WORLD 7th You 6th Ur style 5th...
1078    Try to do something dear. You read something f...
1079    Sun ah... Thk mayb can if dun have anythin on....
1080    SYMPTOMS when U are in love: "1.U like listeni...
1081    Great. Have a safe trip. Dont panic surrender ...
Name: Message_body, Length: 1082, dtype: object

In [9]:
import nltk
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [10]:
stemmer=PorterStemmer()
msg=msg.apply(lambda line:[stemmer.stem(token.lower()) for token in word_tokenize(line)]).apply(lambda token:' '.join(token))
msg

0                               rofl . it true to it name
1       the guy did some bitch but i act like i 'd be ...
2       piti , * wa in mood for that . so ... ani othe...
3                       will ü b go to esplanad fr home ?
4       thi is the 2nd time we have tri 2 contact u. u...
                              ...
1077    7 wonder in my world 7th you 6th ur style 5th ...
1078     tri to do someth dear . you read someth for exam
1079    sun ah ... thk mayb can if dun have anythin on...
1080    symptom when u are in love : `` 1.u like liste...
1081    great . have a safe trip . dont panic surrend ...
Name: Message_body, Length: 1082, dtype: object

In [11]:
from nltk.corpus import stopwords
nltk.download('stopwords')
sw=stopwords.words('english')
msg=msg.apply(lambda line:[token for token in word_tokenize(line) if token not in sw]).apply(lambda token:' '.join(token))
msg

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

0                                        rofl . true name
1       guy bitch act like 'd interest buy someth els ...
2                    piti , * wa mood . ... ani suggest ?
3                               ü b go esplanad fr home ?
4       thi 2nd time tri 2 contact u. u £750 pound pri...
                              ...
1077    7 wonder world 7th 6th ur style 5th ur smile 4...
1078                   tri someth dear . read someth exam
1079    sun ah ... thk mayb dun anythin ... thk book e...
1080    symptom u love : `` 1.u like listen song 2.u g...
1081             great . safe trip . dont panic surrend .
Name: Message_body, Length: 1082, dtype: object

In [12]:
msg=msg.apply(lambda line:[token for token in word_tokenize(line) if len(token)>2]).apply(lambda token:' '.join(token))
msg

0                                          rofl true name
1       guy bitch act like interest buy someth els nex...
2                               piti mood ... ani suggest
3                                           esplanad home
4       thi 2nd time tri contact £750 pound prize clai...
                              ...
1077    wonder world 7th 6th style 5th smile 4th perso...
1078                     tri someth dear read someth exam
1079    sun ... thk mayb dun anythin ... thk book less...
1080    symptom love 1.u like listen song 2.u get stop...
1081                   great safe trip dont panic surrend
Name: Message_body, Length: 1082, dtype: object

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
vec=TfidfVectorizer()
data_vec=vec.fit_transform(msg)
print(data_vec)

  (0, 1804)	0.5086856793431559
  (0, 2688)	0.5352804139572925
  (0, 2222)	0.6743246681420617
  (1, 1157)	0.1975505629026879
  (1, 1201)	0.32775007986689586
  (1, 2831)	0.232360173562465
  (1, 1839)	0.26486371982881535
  (1, 1004)	0.30359792197566066
  (1, 2410)	0.27484084856681323
  (1, 648)	0.27484084856681323
  (1, 1440)	0.3183810904534948
  (1, 1584)	0.21717710288602465
  (1, 361)	0.3539999646600926
  (1, 572)	0.37483567038885635
  (1, 1277)	0.2679790477690628
  (2, 2510)	0.5165656915002457
  (2, 430)	0.36716239650585775
  (2, 1761)	0.5469696796701571
  (2, 1994)	0.5469696796701571
  (3, 1353)	0.5461172911588754
  (3, 1031)	0.8377087228251189
  (4, 1814)	0.28589391563773275
  (4, 634)	0.2739548807688495
  (4, 1730)	0.23592808645161337
  (4, 1966)	0.23197263816682637
  :	:
  (1079, 1916)	0.2706898396742334
  (1079, 1778)	0.2706898396742334
  (1079, 2516)	0.26153957460502464
  (1079, 1573)	0.24774213284441401
  (1079, 593)	0.2374366876682329
  (1079, 2610)	0.49548426568882803
  (1079, 1696)	0.2164896791883823
  (1079, 979)	0.22235769842186565
  (1080, 555)	0.37025990523411034
  (1080, 2544)	0.37025990523411034
  (1080, 1595)	0.3237491068715447
  (1080, 429)	0.3237491068715447
  (1080, 2414)	0.33507584451064965
  (1080, 2479)	0.2208005656522519
  (1080, 1636)	0.2249749608215637
  (1080, 2286)	0.21572034231434808
  (1080, 1219)	0.36602572795540395
  (1080, 1584)	0.21452593732655792
  (1080, 1804)	0.27931042764086844
  (1081, 2529)	0.4791624063199324
  (1081, 1941)	0.4791624063199324
  (1081, 955)	0.30819278764115643
  (1081, 2244)	0.4525275695553008
  (1081, 2685)	0.3734390895085233
  (1081, 1264)	0.31872563060534453

In [14]:
data_vec.shape

(1082, 2950)

In [15]:
y=df['Label']
y

0       0
1       0
2       0
3       0
4       1
       ..
1077    0
1078    0
1079    0
1080    0
1081    0
Name: Label, Length: 1082, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data_vec,y,test_size=0.3,random_state=42)

In [17]:
X_train

<757x2950 sparse matrix of type '<class 'numpy.float64'>'
	with 6434 stored elements in Compressed Sparse Row format>

In [18]:
X_train.shape

(757, 2950)

In [19]:
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import classification_report
sv=SVC()
nb=MultinomialNB()
rf=RandomForestClassifier()
ab=AdaBoostClassifier()
models=[sv,nb,rf,ab]
for model in models:
  print(model)
  model.fit(X_train,y_train)
  pred=model.predict(X_test)
  y_pred=model.predict(vec.transform(['rofl true name']))
  print(y_pred)
  print(classification_report(y_test,pred))

SVC()
[0]
              precision    recall  f1-score   support

           0       0.92      1.00      0.96       269
           1       1.00      0.59      0.74        56

    accuracy                           0.93       325
   macro avg       0.96      0.79      0.85       325
weighted avg       0.93      0.93      0.92       325

MultinomialNB()
[0]
              precision    recall  f1-score   support

           0       0.93      1.00      0.97       269
           1       1.00      0.66      0.80        56

    accuracy                           0.94       325
   macro avg       0.97      0.83      0.88       325
weighted avg       0.95      0.94      0.94       325

RandomForestClassifier()
[0]
              precision    recall  f1-score   support

           0       0.95      1.00      0.97       269
           1       1.00      0.75      0.86        56

    accuracy                           0.96       325
   macro avg       0.98      0.88      0.92       325
weighted avg       0.96      0.96      0.95       325

AdaBoostClassifier()
[0]
              precision    recall  f1-score   support

           0       0.96      0.99      0.97       269
           1       0.92      0.80      0.86        56

    accuracy                           0.95       325
   macro avg       0.94      0.89      0.91       325
weighted avg       0.95      0.95      0.95       325